  :root {
  --main-color: #2F303A;
  --accent-color: #2196F3;
  --paragraph-color: #757575;
  --footer-p-color: #FFFFFF;
  --hero-button-color: #F5F4FA;
  --main-font: 'Raleway', serif;
  --secondary-font: "Roboto Flex",sans-serif;
  }

  .container-profil {
  width: 1600px;
  height: 1880px;
  margin-right: 215px; 
  margin-left: 215px;
  }

  .profile-portfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  }
  
  .profile-portfolio h3 {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 26px;
  display: flex;
  }
  
  .profile-portfolio .links-nav-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  }
  
  .profile-portfolio .left-links,
  .profile-portfolio .right-links {
  display: flex;
  align-items: center;
  }
  
  .profile-portfolio .left-links {
  margin-left: 20px;
  }
  
  .profile-portfolio .right-links {
  margin-right: 20px;
  margin-left: auto;
  }
  
  .profile-portfolio li {
  font-family: var(--secondary-font);
  font-weight: 500;
  margin-right: 20px;
  }
  
  .profile-portfolio li a {
  color: var(--main-color);
  transition: 0.3s ease;
  text-decoration: none;
  }
  
  .profile-portfolio li a:hover {
  color: var(--accent-color);
  }
   
  .profile-portfolio {
  text-align: center;
  }
   
  .hero {
  text-align: center;
  }

  .portfolio-button {
  font-family: var(--secondary-font);
  font-weight: 500; 
  border-radius: 4px;
  width: auto;
  height: 38px;
  background-color: var(--hero-button-color);
  border: none;
  padding: 0 25px;
  margin: 0 5px;
  margin-top: 94px;
  margin-bottom: 20px;
  }

  .portfolio-button:hover {
  color: var(--hero-button-color);
  background-color: var(--accent-color);
  transition: 0.3s ease;
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
  }

  .portfolio ul {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-auto-rows: auto;
  grid-gap: 20px;
  justify-content: center;
  padding-top: 34px;
  padding-bottom: 60px;
  }
  
  .portfolio li {
  width: 370px;
  height: 404px;
  border: 1px solid #EEEEEE;
  }

  .portfolio li:hover {
  box-shadow: 0px 1px 1px 0px rgb(0, 0, 0, 0.12),
  1px 4px 6px 0px rgb(0, 0, 0, 0.16);
  }
  
  .portfolio img {
  width: 100%;
  height: auto;
  }
  
  .project-name {
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: auto;
  font-size: 18px;
  color: var(--main-color);
  padding-top: 20px;
  padding-left: 24px;
  }

  .project-direction {
  font-family: var(--secondary-font);
  font-weight: 400;
  line-height: auto;
  font-size: 16px;
  color: var(--paragraph-color);
  padding-top: 10px;
  padding-left: 24px;
  }
  
  .footer {
  background-color: #2F303A;
  width: 1600px;
  height: 252px;
  padding-top: 60px;
  padding-left: 215px;
  display: flex;
  flex-direction: column;
  }
  
  .footer h3 {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 26px;
  }
  
  .footer p {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--footer-p-color);
  padding-top: 15px;
  }
  
  .footer a {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: var(--paragraph-color);
  text-decoration: none;
  }
  
  .footer a:hover {
  color: var(--accent-color);
  transition: 0.3s ease;
  }